html{
    position: relative;
    background: linear-gradient(300.13deg, #8BB1CB 0%, rgba(162, 184, 218, 0) 64.36%);
    background-size: cover;
    min-height: 100%;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}



.triangle{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    user-select: none;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0px 30vh 100vw;
    border-color: transparent transparent #6FA4C2 transparent;
    transform: rotate(0deg);
}

.big-triangle{
    z-index: -2;
    border-width: 0 0px 65vh 100vw;
    border-color: transparent transparent rgba(111, 164, 194, 0.5) transparent;

}


@font-face{
    font-family: Mono;
    src: url('../fonts/DM_Mono/DMMono-Regular.ttf');
    }