.invoice{

    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1010px;
    min-height: 743px;
    background-color: white;
    box-shadow: 0 1px 2px #000000, 0 4px 10px #525252;

}


.invoice>div{
    width: 90%;
    margin: 10px auto;
    display: flex;
}

.basic-info{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.basic-info div, p{
    margin-bottom: 10px;
}


.basic-info>.doc-name{
    position: relative;
    width: 100%;
}

.basic-info>.doc-name>h2{
    text-transform: uppercase;
    color: #00063E;
    margin: 20px;
}

.basic-info>.doc-name>img{
    position: absolute;
    right: 20%;
    bottom: 50%;
    transform: translate(0, 50%);
    width: 15px;
    object-fit: contain;
    cursor: pointer;
}

.date-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-input *{
    margin: 0;
}

.date-input>input, .date-input>input:focus{
    opacity: 0;
    width: 0;
    height: 0;
}

.date-input>p{
}

.contacts-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contacts{
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.contacts>h4{
    width: 100%;
    text-align: left;
}

.contacts>input, .contacts>textarea{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    resize: none;
    background-color: #DCE8F0;
    border-color: #DCE8F0;
    padding: 2px 5px;

}

.contacts>label{
    width: 100%;
}


.inv-lines{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    
}

.inv-lines>.invoice-line, .inv-lines>.first-line{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-width: 100%;
    flex-wrap: wrap;
    margin: 10px 0;
}


.first-line>p{
    text-align: center;
    width: 50px;
    margin: 0;
    text-transform:uppercase;
    text-decoration: underline;
}

.first-line>p:nth-of-type(1){
    width: 0px;
}


.first-line>p:nth-of-type(2){
    width: 400px;
    text-align: left;
}

.first-line>p:nth-of-type(4){
    width: 30px;
}

.first-line>p:nth-of-type(6){
    margin-right: 20px;
}


.invoice-line input, .invoice-line input:focus{
    margin-right: 20px;
    border: #6FA4C2 solid 1px;
    outline: none;
}

.invoice-line input{
    width: 50px;
}

.invoice-line input[type="number"]{
    text-align: right;
}

.invoice-line>input[type="text"]{
    width: 30px;
    text-align: center;
}

.invoice-line>input[type="text"]:nth-of-type(1){
    width: 400px;
    text-align: left;
}

.invoice-line>button{
    border: #6FA4C2 solid 1px;
    color: #6FA4C2;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    background-color: #DCE8F0;
}

input:read-only{
    background-color: #DCE8F0;
}


.first-sum-holder{
    display: flex;
    width: fit-content;
    align-items:baseline;
    gap: 50px;
    flex-direction: row;
}


.first-sum-holder>input{
    width: 50px;
    height: 20px;
}

.first-sum{
    margin-top: 30px;
}

.right-sum-holder{
    display: flex;
    flex-direction: row;
    justify-content:end;
    min-width: 100%;
    flex-wrap: wrap;
    margin: 10px 0;
}

.right-sum-holder input, .right-sum-holder input:focus{
    text-align: right;
    width: 50px;
    height: 20px;
    margin-right: 20px;
    border: #6FA4C2 solid 1px;
    outline: none;
}

.button-holder{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 30px 20px 30px auto;
    gap: 40px;
}

.button-holder>button{
    border: #6FA4C2 solid 1px;
    background-color: #DCE8F0;
    color: #6FA4C2;
    padding: 10px 10px;
    min-width: 100px;
    text-transform: uppercase;
    cursor: pointer;
}

