<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/invoice.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
  <title>Invoice</title>
</head>
<body>
  <div class="invoice">
    <div class="basic-info">
      <div class="doc-name">
        <h2 id="inv-type">pvm sąskaita-faktūra</h2>
        <img src="{{url_for('static', filename='img/arrows.png')}}" alt="click">
      </div>
      <div class="inv-name">
        <input type="text" value="INV">
        <input type="number" value="1">
      </div>
      <div id="date-input" class="date-input">
        <input id="date" type="date" value="2023-05-15"  min="2018-01-01" max="2030-12-31">
        <p>2023-05-15</p>
      </div>
      
    </div>
    <div class="contacts-holder">
      <div class="contacts seller">
        <h4>Pardavėjas:</h4>
        <label for="s-name">Pavadinimas:</label>
        <input id="s-name" maxlength="50" name="s-name" type="text" placeholder="">
        <label for="s-tax">Mokesčio mokėtojo kodas:</label>
        <input type="text" maxlength="50" id="s-tax" name="s-name" placeholder="">
        <label for="s-vat">PVM kodas:</label>
        <input type="text" maxlength="50" id="s-vat" name="s-vat"  placeholder="">
        <label for="s-address">Adresas:</label>
        <textarea type="text" maxlength="150" id="s-address" name="s-address" rows="6" cols="30" ></textarea>

      </div>
      <div class=" contacts buyer">
        <h4>Pirkėjas:</h4>
        <label for="b-name">Pavadinimas:</label>
        <input id="b-name" maxlength="50" name="b-name" type="text" placeholder="">
        <label for="b-tax">Mokesčio mokėtojo kodas:</label>
        <input type="text" maxlength="50" id="b-tax" name="b-name" placeholder="">
        <label for="b-vat">PVM kodas:</label>
        <input type="text" maxlength="50" id="b-vat" name="b-vat"  placeholder="">
        <label for="b-address">Adresas:</label>
        <textarea type="text" maxlength="50" id="b-address" name="b-address" rows="6" cols="30" ></textarea>

      </div>
    </div>
    <div class="inv-lines">
      <div class="first-line">
        <p></p>
        <p>Prekės pavadinimas</p>
        <p>Kiekis</p>
        <p>Mat.</p>
        <p>Kaina</p>
        <p>Suma</p>
      </div>
      <div class="invoice-line">
        <button class="remove-line">-</button>
        <input class="product" maxlength="50" type="text">
        <input class="vnt user-input" type="number" value="1">
        <input class ='vnt-name' type="text" maxlength="5" value="vnt">
        <input class="price user-input" type="number" value="0">
        <input class="total" type="number" readonly value="0">
      </div>
      <div id="add-line-holder" class="add-line-holder">
        <button id="add-line" class="add-line">+</button>
      </div>
      <div id="total-sum-holder" class="right-sum-holder">
        <div class="first-sum-holder">
          <p class="first-sum">Suma be PVM</p>
          <input id="beforeVAT" type="number" readonly value="0">
        </div>
      </div>
      <div id="VAT-settings" class="right-sum-holder">
        <div class="first-sum-holder">
          <select id="pvm-tipas">
            <option selected value="21">21%</option>
            <option value="9">9%</option>
            <option value="5">5%</option>
            <option value="6">6%</option>
            <option value="0">0%</option>
            <option value="21a">21% atv.</option>
          </select>
          <input id="VAT" type="number" readonly value="0">
        </div>
      </div>
      <div id="total-sum-holder-vat" class="right-sum-holder">
        <div class="first-sum-holder">
          <p class="total-sum">Suma su PVM</p>
          <input id="afterVAT" type="number" readonly value="0">
        </div>
      </div>
      <div class="button-holder">
        <button>Cancel</button>
        <!-- <button>Save and print</button> -->
        <button>Save</button>
      </div>
      


    </div>
    <div class="results">

    </div>

  </div>


  <img class="triangle" src="{{ url_for('static', filename='img/triangle 2.svg')}}" draggable="false" alt="">
  <img class="triangle big-triangle" src="{{ url_for('static', filename='img/triangle 1.svg')}}" draggable="false" alt="">
  <script src="{{url_for('static', filename='js/invoice.js')}}"></script>
</body>
</html>